<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8" />
	
		<title th:text="${title}">title</title>
		
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
		
		<!--标准mui.css-->
		<link rel="stylesheet" href="../../static/mui/css/mui.min.css" th:href="@{/mui/css/mui.min.css}" />
	
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<!-- <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a> -->
			<h1 class="mui-title">家庭卡信息维护</h1>
		</header>
		<div class="mui-content">
			<div class="mui-card">
				<ul class="mui-table-view">
					<li class="mui-table-view-cell mui-collapse">
						<a class="mui-navigate-right" href="#">基本信息</a>
						<div class="mui-collapse-content">
							<form class="mui-input-group">
									<div class="mui-input-row">
										<label>姓名</label>
										<input type="text" class="mui-input-clear" placeholder="请输入姓名"/>
									</div>
									<div class="mui-input-row">
										<label>性别</label>
										<input type="text" class="mui-input-clear" placeholder="请输入性别"/>
									</div>
				
									<div class="mui-input-row ">
										<label>身份证号</label>
										<input type="text" class="mui-input-clear" placeholder="请输入身份证号"/>
									</div>
									<div class="mui-input-row ">
										<label>出身年月</label>
										<input type="text" class="mui-input-clear" placeholder="请输入出身年月"/>
									</div>
									<div class="mui-input-row ">
										<label>家庭地址</label>
										<input type="text" class="mui-input-clear" placeholder="请输入家庭地址"/>
									</div>
									<div class="mui-input-row ">
										<label>单位地址</label>
										<input type="text" class="mui-input-clear" placeholder="请输入单位地址"/>
									</div>
									<div class="mui-input-row ">
										<label>户籍地址</label>
										<input type="text" class="mui-input-clear" placeholder="请输入户籍地址"/>
									</div>
									
									<div class="mui-button-row">
										<button type="button" class="mui-btn mui-btn-primary" onclick="return false;">确认</button>&nbsp;&nbsp;
										<button type="button" class="mui-btn mui-btn-danger" onclick="return false;">取消</button>
									</div>
									
								</form>
						</div>
					</li>
					<li class="mui-table-view-cell mui-collapse">
						<a class="mui-navigate-right" href="#">亲属信息</a>
						<div class="mui-collapse-content">
							<form class="mui-input-group">
									<div class="mui-input-row">
										<label>姓名</label>
										<input type="text" class="mui-input-clear" placeholder="请输入姓名"/>
									</div>
									<div class="mui-input-row">
										<label>性别</label>
										<input type="text" class="mui-input-clear" placeholder="请输入性别"/>
									</div>
				
									<div class="mui-input-row ">
										<label>身份证号</label>
										<input type="text" class="mui-input-clear" placeholder="请输入身份证号"/>
									</div>
									<div class="mui-input-row ">
										<label>出身年月</label>
										<input type="text" class="mui-input-clear" placeholder="请输入出身年月"/>
									</div>
									<div class="mui-input-row ">
										<label>家庭地址</label>
										<input type="text" class="mui-input-clear" placeholder="请输入家庭地址"/>
									</div>
									<div class="mui-input-row ">
										<label>单位地址</label>
										<input type="text" class="mui-input-clear" placeholder="请输入单位地址"/>
									</div>
									<div class="mui-input-row ">
										<label>户籍地址</label>
										<input type="text" class="mui-input-clear" placeholder="请输入户籍地址"/>
									</div>
									
									<div class="mui-button-row">
										<button type="button" class="mui-btn mui-btn-primary" onclick="return false;">确认</button>&nbsp;&nbsp;
										<button type="button" class="mui-btn mui-btn-danger" onclick="return false;">取消</button>
									</div>
									
								</form>
						</div>
					</li>
					<li class="mui-table-view-cell mui-collapse">
						<a class="mui-navigate-right" href="#">拜访记录</a>
						<div class="mui-collapse-content">
							<form class="mui-input-group">
									<div class="mui-input-row">
										<label>姓名</label>
										<input type="text" class="mui-input-clear" placeholder="请输入姓名"/>
									</div>
									<div class="mui-input-row">
										<label>性别</label>
										<input type="text" class="mui-input-clear" placeholder="请输入性别"/>
									</div>
				
									<div class="mui-input-row ">
										<label>身份证号</label>
										<input type="text" class="mui-input-clear" placeholder="请输入身份证号"/>
									</div>
									<div class="mui-input-row ">
										<label>出身年月</label>
										<input type="text" class="mui-input-clear" placeholder="请输入出身年月"/>
									</div>
									<div class="mui-input-row ">
										<label>家庭地址</label>
										<input type="text" class="mui-input-clear" placeholder="请输入家庭地址"/>
									</div>
									<div class="mui-input-row ">
										<label>单位地址</label>
										<input type="text" class="mui-input-clear" placeholder="请输入单位地址"/>
									</div>
									<div class="mui-input-row ">
										<label>户籍地址</label>
										<input type="text" class="mui-input-clear" placeholder="请输入户籍地址"/>
									</div>
									
									<div class="mui-button-row">
										<button type="button" class="mui-btn mui-btn-primary" onclick="return false;">确认</button>&nbsp;&nbsp;
										<button type="button" class="mui-btn mui-btn-danger" onclick="return false;">取消</button>
									</div>
									
								</form>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<script src="../../static/mui/js/mui.min.js"	th:src="@{/mui/js/mui.min.js}"></script>

		<script>
			mui.init({
				swipeBack:true //启用右滑关闭功能
			});
		</script>
	</body>

</html>